<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title ScrollHint
    link(rel="stylesheet" href="./css/style.css")
    link(rel="stylesheet" href="./css/scroll-hint.css")
  body
    header
      h1 header
    .section
      .table.table_container
        table
          tr
            th タイトル
            th タイトル
            th タイトル
            th タイトル
            th タイトル
            th タイトル
            th タイトル
            th タイトル
            th タイトル
          tr
            td content
            td content
            td content
            td content
            td content
            td content
            td content
            td content
            td content
          tr
            td content
            td content
            td content
            td content
            td content
            td content
            td content
            td content
            td content
          tr
            td content
            td content
            td content
            td content
            td content
            td content
            td content
            td content
            td content
          tr
            td content
            td content
            td content
            td content
            td content
            td content
            td content
            td content
            td content
          tr
            td content
            td content
            td content
            td content
            td content
            td content
            td content
            td content
            td content
          tr
            td content
            td content
            td content
            td content
            td content
            td content
            td content
            td content
            td content

script(src="https://unpkg.com/scroll-hint@latest/js/scroll-hint.min.js")
script(src="./js/scrollHint.js")